body {
  background-image: url("https://www.dbackdrop.com/cdn/shop/files/GQ4-54-2.jpg?v=1744355867&width=562");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: helvetica, sans-serif;
}
a {
  color: #885df1;
}
.container {
  margin: 120px auto;
  max-width: 600px;
}
header {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
  font-family:
    dancing script,
    cursive;
}
form {
  display: flex;
}
.form-container {
  background-color: pink;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 15px 20px;
}
.instructions {
  padding: 16px;
  border: 1px solid #ccc;
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}
.submit-button {
  background: #885df1;
  color: white;
  border: none;
  border-radius: 50px;
  padding: 14px 24px;
  margin-left: 10px;
  width: 150px;
  font-size: 16px;
}
.poem {
  font-size: 16px;
  padding: 20px;
  background-color: pink;
  opacity: 0.7;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
  border-left: 3px solid #885df1;
  line-height: 2;
}
.poem strong {
  color: #885df1;
}

.hint {
  line-height: 1.5;
  color: #272044;
  margin-top: 5px;
  opacity: none;
  font-size: 12px;
}
.hidden {
  display: none;
}
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  color: #272044;
  position: fixed;
  left: 0;
  bottom: 20px;
  width: 100%;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
